*.log

vendor

node_modules

wallet

gocc/pkg

user-wallet

network/packages

network/system-genesis-block
network/channel-artifacts

network/organizations/ordererOrganizations
network/organizations/peerOrganizations


fabric-ca-server.db
network/organizations/fabric-ca/org1/msp
network/organizations/fabric-ca/org1/*.pem
network/organizations/fabric-ca/org1/Issuer*

network/organizations/fabric-ca/org2/msp
network/organizations/fabric-ca/org2/*.pem
network/organizations/fabric-ca/org2/Issuer*

network/organizations/fabric-ca/orderer/msp
network/organizations/fabric-ca/orderer/*.pem
network/organizations/fabric-ca/orderer/Issuer*